body{
    text-align: center;
    padding-top: 2rem;
}
label{
    display: block;
    padding: 1rem;
    color: #6C63FF;
    font-size: xx-large;
}
input{
    height: 1.5rem;
    width: 350px;
}
#is-triangle-btn{
    background-color: #6C63FF;
    color: white;
    height: 2rem;
    width: fit-content;
    font-size: large;
    border: white solid 1px;
}
#output{
    padding: 1rem;
    color:#6C63FF;
    font-size: larger;
    text-align: center;
}